version: 2
jobs:
    # The build job
    build:
        working_directory: ~/project
        docker:
            - image: angular/ngcontainer:0.3.3
        steps:
            # Checkout the code from the branch into the working_directory
            - checkout
            # Log the current branch
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            # Restore local dependencies from cache
            - restore_cache:
                keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-
            - run:
                name: Set environment variables in packages
                command: |
                    VERSION=$(git describe --abbrev=0 --tags | sed 's/^v//')
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd projects/core
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../forms
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../material-devpage
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../material-fields
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../router
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../../
            # Install project dependencies
            - run:
                name: Install local dependencies
                command: npm install
            # Cache local dependencies if they don't exist
            - save_cache:
                key: v1-dependencies-{{ checksum "package.json" }}
                paths:
                    - node_modules
            # Lint the source code
            - run:
                name: Linting
                command: npm run lint
            # Test the source code
            - run:
                name: Testing Core
                command: npm run test:core
            - run:
                name: Testing Forms
                command: npm run test:forms
            - run:
                name: Testing Material Devpage
                command: npm run test:material-devpage
            - run:
                name: Testing Material Fields
                command: npm run test:material-fields
            - run:
                name: Testing Router
                command: npm run test:router
            - run:
                name: Testing Nghm
                command: npm run test:nghm
    deploy-docs:
        machine:
            enabled: true
        environment:
            HEROKU_APP: "docs-nghm"
        steps:
            - checkout
            # Restore local dependencies from cache
            - restore_cache:
                keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-
            - run:
                name: Set environment variables in packages
                command: |
                    VERSION=$(git describe --abbrev=0 --tags | sed 's/^v//')
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd projects/core
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../forms
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../material-devpage
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../material-fields
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../router
                    sed -i -e "s/\$VERSION/$VERSION/" package.json
                    cd ../../
            # Install project dependencies
            - run:
                name: Install local dependencies
                command: npm install
            # Cache local dependencies if they don't exist
            - save_cache:
                key: v1-dependencies-{{ checksum "package.json" }}
                paths:
                    - node_modules
            - run:
                name: Display package version
                command: npm run echo:version

            - run:
                name: Pull docs repository
                command: |
                    cd docs
                    git init
                    git config user.email "dan.patiu@gmail.com"
                    git config user.name "Heroku Agent"
                    git pull https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP.git master
                    cd ../

            # Generate documentation
            - run:
                name: Documenting Core
                command: npm run compodoc:core
            - run:
                name: Documenting Forms
                command: npm run compodoc:forms
            - run:
                name: Documenting Material Devpage
                command: npm run compodoc:core
            - run:
                name: Documenting Material Fields
                command: npm run compodoc:core
            - run:
                name: Documenting Router
                command: npm run compodoc:core

            - run:
                name: Push docs repository
                command: |
                    cd docs
                    VERSION=$(git describe --abbrev=0 --tags | sed 's/^v//')
                    git commit -m "Deployment commit - $VERSION"
                    git push -f https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP.git master
                    cd ../
workflows:
    version: 2
    build-deploy:
        jobs:
            - build:
                filters:
                    tags:
                        only: /^v.*/
            - deploy-docs:
                requires:
                    - build
                filters:
                    tags:
                        only: /^v.*/
                    branches:
                        only:
                            - master
                            - /release\/.*/
                            - /feature\/.*/
