<mat-sidenav-container class="app-wrapper">
  <mat-sidenav mode="side" [(opened)]="opened" class="mat-elevation-z2">
    <mat-action-list>
      <button [hmLink]="link" matRipple="true" mat-list-item *ngFor="let link of menu?.links; trackBy linkTracker">
        {{ link.name }}
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navigation mat-elevation-z2 mat-typography">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <mat-icon class="icon">book</mat-icon>
        <span class="text">
          Books
        </span>
      </div>
    </mat-toolbar>
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
