<h1 class="mat-h1">{{title}}</h1>

<p class="mat-p">{{description}}</p>

<p class="mat-p">
  <a mat-raised-button *ngIf="topRatedBook" [hmLink]="topRatedBook">Top rated book</a>
</p>

<div [@listStagger]="latestBooks?.length">
  <ng-container *ngFor="let book of latestBooks">
    <mat-card class="latest-book">
      <mat-progress-spinner mode="indeterminate" *ngIf="book.loading; else loaded"></mat-progress-spinner>
      <ng-template #loaded>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-content>
          {{ book.description }}
        </mat-card-content>
        <ng-container *ngIf="book.update as update">
          <mat-card-content>
            <mat-progress-bar mode="indeterminate" *ngIf="saveForm.isSubmitting"></mat-progress-bar>
            <hm-form [action]="update" #saveForm>
              <hm-form-field named="description" component="mat|textarea"></hm-form-field>
            </hm-form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [disabled]="saveForm.isSubmitting" (click)="saveForm.submit()">SAVE</button>
            <button mat-button [hmLink]="book.self" color="primary">GO TO</button>
          </mat-card-actions>
        </ng-container>
      </ng-template>
    </mat-card>
  </ng-container>
</div>
