<mat-card *ngIf="bookCounts">
  <mat-card-title>Book analytic</mat-card-title>

  <mat-card-content>
    <p>
      New books: {{ bookCounts.newBooks }}
    </p>
    <p>
      Rented books: {{ bookCounts.rentedBooks }}
    </p>
    <p>
      Total books: {{ bookCounts.totalBooks }}
    </p>
  </mat-card-content>

  <mat-card-actions *ngIf="bookCounts.books as books">
    <a mat-button [hmLink]="books">SEE BOOKS</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="authorCounts">
  <mat-card-title>Author analytic</mat-card-title>

  <mat-card-content>
    <p>
      New authors: {{ authorCounts.newAuthors }}
    </p>
    <p>
      Total authros: {{ authorCounts.totalAuthors }}
    </p>

    <ng-container *ngIf="bestSellingAuthor">
      <h5>Best selling author: {{ bestSellingAuthor.name }}</h5>
      <p>Book: {{ bestSellingAuthor.book }}</p>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="feedback && feedback.post as post">
    <mat-card-title>Feedback</mat-card-title>

    <mat-card-content>
      <p>
        Send us feedback!
      </p>

      <hm-form [action]="post" #feedbackForm>
        <div *hmLabel="let name">{{ name }}</div>
        <div *hmError="let name">{{ name }}</div>
      </hm-form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="feedbackForm.submit()">SEND</button>
    </mat-card-actions>
  </mat-card>

