<h1 class="mat-h1">{{title}}</h1>

<p class="mat-p">{{description}}</p>

<p class="mat-p">
  <a mat-raised-button *ngIf="topRatedBook" [hmLink]="topRatedBook">Top rated book</a>
</p>

<ng-container *ngFor="let book of latestBooks">
  <mat-card *ngIf="!book.loading" class="latest-book">
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-content>
      {{ book.description }}
    </mat-card-content>
    <mat-card-content>
      <hm-form [action]="book.update" #saveForm>
        <hm-form-field named="description" component="mat|textarea"></hm-form-field>
      </hm-form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="saveForm.submit()">SAVE</button>
      <button mat-button [hmLink]="book.self" color="primary">GO TO</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
